# Dependencias de Node
node_modules/

# Archivos de configuración de entorno
.env

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de salida de compilación
dist/
build/

# Directorio de cargas
uploads/
